<h1>All Artwork</h1>


<div class="row">
<% @artworks.each do |artwork| %>
  <div class="col-sm-3 col-md-3-offset-3">
    <div class="thumbnail">
      <a href="/artworks/<%= artwork.id %>">
      <img src="<%= artwork.img_url %>" alt="<%= artwork.id %>"></a>
      <div class="caption">
        <h3>"<%= artwork.title %>"</h3>
        <% unless artwork.artist.nil? %>
          <p><%= artwork.artist.name %><br>
        <% end %>
           Medium: <%= artwork.medium %><br>
           Date: <%= artwork.date %><br>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>