<h1>All Artworks</h1>

<div class="row">
<% @artworks.each do |artwork| %>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="<%= artwork.img_url %>" alt="<%= artwork.id %>">
      <div class="caption">
        <h3>"<%= artwork.title %>"</h3>
        <p>by <%= artwork.artist.name %><br>
           Date: <%= artwork.date %><br>
		   Museum:  <%= artwork.museum.name %><br>
		</p>
        <p><a href="#" class="btn btn-default" role="button">Edit</a> <a href="#" class="btn btn-default" role="button">Delete</a></p>
      </div>
    </div>
  </div>
<% end %>
</div>

