<h1> "<%= @artwork.title %>" Show Page</h1>
	Artist: <%= @artwork.artist.name %><br>
	Date: <%= @artwork.date %><br>
	Source: <%= @artwork.source %><br>
	Museum:  <%= @artwork.museum.name %><br>
	<img src="<%= @artwork.img_url %>"><br>

<a href="/artworks">Back</a>