<h1> Edit Your Profile </h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<form class="form-horizontal white" action="/users/<%= @user.id %>" method="post" >
	  <input name="_method" type="hidden" value="put">
	  
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Username: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.username %>">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">First Name: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.first_name %>">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Last Name: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.last_name %>">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Email: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.email %>">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">City: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.city %>">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">State: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.state %>">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Bio: </label>
	    <div class="col-sm-6">
	      <textarea name="bio" class="form-control" id="" cols="30" rows="10" placeholder="Bio" value="<%= @user.bio %>"></textarea>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Avatar Url: </label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" value="<%= @user.avatar %>">
	    </div>
	  </div>

	  <input type="submit" value="Edit" class="btn btn-lg btn-block btn-outline"/>
</form>
</div>
	
	<img class="avatar img-responsive img-rounded" src="<%= @user.avatar %>"><br>

	<a href="/users/<%= @user.id %>/delete" class="btn btn-danger">Delete Your Dumb Account</a><br>
<!-- Should probably be hidden / toggled -->
	<!-- <h4 class="white">Edit Your Profile:</h4>
	<form class="form-horizontal" action="/users/<%= @user.id %>" method="post" >
	  <input name="_method" type="hidden" value="put">
	  <input type="text" name="username" placeholder="Username" value="<%= @user.username %>" />
	  <input type="text" name="first_name" placeholder="First Name" value="<%= @user.first_name %>" />
	  <input type="text" name="last_name" placeholder="Last Name" value="<%= @user.last_name %>" />
	  <input type="email" name="email" placeholder="Email" value="<%= @user.email %>"  />
	  <input type="text" name="city" placeholder="City" value="<%= @user.city %>" />
	  <input type="text" name="state" placeholder="State" value="<%= @user.state %>" />
	  <textarea name="bio" id="" cols="30" rows="10" placeholder="Bio" value="<%= @user.bio %>"></textarea>
	  <input type="url" name="avatar_url" placeholder="Avatar" value="<%= @user.avatar %>" />
	  <input type="submit" value="submit" class="button"/>
	</form> -->


