<% if @user == current_user %>

	<h1> Your Profile Page </h1>
	<img class="avatar" src="<%= @user.avatar %>"><br>

<hr>
<!-- Should probably be hidden / toggled -->
	<h4>Edit Your Profile:</h4>
	<form action="/users/<%= @user.id %>" method="post" style="display:inline-block">
	  <input name="_method" type="hidden" value="put">
	  <input type="text" name="username" placeholder="Username" value="<%= @user.username %>" />
	  <input type="text" name="first_name" placeholder="First Name" value="<%= @user.first_name %>" />
	  <input type="text" name="last_name" placeholder="Last Name" value="<%= @user.last_name %>" />
	  <input type="email" name="email" placeholder="Email" value="<%= @user.email %>"  />
	  <input type="text" name="city" placeholder="City" value="<%= @user.city %>" />
	  <input type="text" name="state" placeholder="State" value="<%= @user.state %>" />
	  <textarea name="bio" id="" cols="30" rows="10" placeholder="Bio" value="<%= @user.bio %>"></textarea>
	  <input type="url" name="avatar_url" placeholder="Avatar" value="<%= @user.avatar %>" />
	  <input type="submit" value="submit" class="button"/>
	</form>

	<a href="/users/<%= @user.id %>/delete">Delete Your Dumb Account</a><br>
	<a href="/users">Back</a>


<% else %>

	<h1><%= @user.username %>'s Profile Page</h1>
	<img class="avatar" src="<%= @user.avatar %>"><br>
	<h4>First Name:<%= @user.first_name %></h4>	
	<!-- <h4>Email: <%= @user.email %></h4>	 -->
	<h4>City: <%= @user.city %></h4>	
	<h4>State: <%= @user.state %></h4>	
	<h4>Bio:  <%= @user.bio %></h4>	

	<a href="/users">Back</a>

<% end %>
